body {
  padding: 25px 20px;
}
.list-group {
  margin-top: 20px;
  user-select: none;
}
.done {
  text-decoration: line-through;
}
.button-remove {
  position: absolute;
  right: 5px;
  bottom: 3px;
}
.list-group {
  font-size: 0;
}
.queue-item {
  min-width: 30px;
  height: 50px;
  color: #fff;
  background-color: blue;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 22px;
  margin-right: 5px;
  margin-top: 5px;
  overflow: hidden;
}
